.container-fluid
  .row
    .col
      %h1.text-center Library
      - if user_signed_in?
        .text-center
          = link_to 'create book', new_book_path
      .top-books.books-list
        %h5.text-center Top rated books
        = render 'table', books: @top_books, top_table: true
      .all-books.books-list
        %h5.text-center All books
        =form_with url: destroy_multiple_book_index_path, method: :post do
          = render 'table', books: @books, top_table: false
          .pagination.d-flex.justify-content-center
            = paginate @books
          = submit_tag 'delete selected', id: 'delete_multiple'
