.container-fluid
  .row
    .col
      %h3.text-center Create book
      .text-center
        = form_with url: book_index_path, method: :post, local: true, multipart: true do
          = text_field_tag(:name, nil, placeholder: 'Book name', class: 'book_create-text')
          %br= text_area_tag(:description, nil, placeholder: 'Description', class: 'book_create-text')
          = text_field_tag(:author, nil, placeholder: 'Author', class: 'book_create-text')
          %br= file_field_tag('avatar', class: 'book_create-text')
          %br= submit_tag('create')
        = link_to 'back', book_index_path
