%script{src: "https://kit.fontawesome.com/0b512414c4.js", crossorigin: "anonymous"}
.container-fluid
  %h4.text-center=@book.name
  .row
    .col.text-right
      %button.btn.btn-info{ type: 'button' }
        Average rating
        %span.badge.badge-primary=@book.rating
      %br
      %span
        %button.btn.btn-info{ type: 'button' }
          Likes:
          %span.badge.badge-warning= @likes_count
      %br
      = image_tag(@book.avatar.thumb.to_s, alt: 'avatar')
    .col.text-left
      %span.rating= draw_rating(@rating_score, @book)
      = draw_take_button(@book)
      %br
      %p=@book.description

  .col.text-center
    = link_to 'back', book_index_path
  .comment-create
    = render 'comments/new', book: @book
  .container.red_left
    - @parent_comments.each do |comment|
      = render 'comments/comment', locals: { comment: comment }
    -#= render @parent_comments
